.container-categorie{
    display: flex;
    flex-direction: column;

}

.photo-like{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo-like > div:first-child{
    margin-right: 10px;
}

.single-photo {
    position: relative;
}

.photo-container {
    width: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}

.photo-content{
    width:100%;
    height: 500px;

    img {
        height:100%;
        width:100%;
        object-fit: cover;      
     }
}

.photo-container:hover .overlay {
    opacity: 1; /* Rend l'overlay visible au survol */
}

.infos-photo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.container-btn{
    text-align: center;
}
#btn-plus{

    margin-top: 30px;
    margin-bottom: 30px;

}