.container-categorie{
    display: flex;
    flex-direction: column;

}

.photo-like{
    display: flex;
    flex-direction: row;
}

.single-photo {
    position: relative;
}

.photo-container {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.photo-content img {
    width: 100%; /* Assurez-vous que l'image occupe toute la largeur de son conteneur */
    height: auto; /* Pour maintenir les proportions de l'image */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Couleur d'arrière-plan semi-transparente noire */
    opacity: 0; /* Initialement invisible */
    transition: opacity 0.3s ease; /* Ajoute une transition pour une animation fluide */
}

.photo-container:hover .overlay {
    opacity: 1; /* Rend l'overlay visible au survol */
}

.infos-photo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.container-btn{
    text-align: center;
}
#btn-plus{

    margin-top: 30px;
    margin-bottom: 30px;

}