
.single-section{
    width: 80%;
    margin:auto;
    margin-top: 50px;
}

.single-container{
    display: flex;
    flex-direction: row;
    
}

#column1{
    display: flex;
    flex-direction: column;


    justify-content: flex-end;
    width:50%;
    //background-color: blueviolet;
    margin-right: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

#column1 p{
    //background-color: aqua;
    margin: 0%;
}
#column1 h2{
    width:30%;
}

#column2{
   width: 50%;
   //margin-right:10px;
    //background-color: green;

}

#column2 img{
    width: 100%;
    height: auto;  
    //object-fit:cover ;
} 

.titre_photo{
    font-size: 3em;
    font-family: "space mono";
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
}

#column1 p{
  margin-top: 10px;
} 


//gestion bouton contact et lien vers suivant-précédent

.container{
    height: 118px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    border-bottom: 1px solid black;

    &__contact{
        display: flex;
        flex-direction: row;
    }
}

.btn{
    height: 50px;
    width: 270px;
    padding: 8px 15px 8px 15px;
    border-radius: 2px;
    border: none;
    background-color:#d8d8d8 ;
    font-family: "space mono";
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s; 
}
.btn:hover{
        background-color: #000; /* Fond noir au survol */
        color: #fff; /* Texte blanc au survol */
}

#myBtn {
    margin-left: 50px;
}

//gestion miniatures images suivante et précédente
.container__mini{
    position: relative;
}
.container__fleche{
    display: flex;
    flex: row;
    justify-content: space-between;
}
.container__fleche__precedent{
    cursor: pointer;
}

.container__fleche__suivant{
    cursor: pointer;
}

#img-precedent{
    height: 70%;
    opacity: 1;
}

#img-suivant{
   position: absolute;
    height: 70%;
    top: 0px;
    left:0px; 
    opacity: 0;
}

#img-precedent img{
    height: 100%;
    width: auto;
}

#img-suivant img{
    height: 100%;
    width: auto;
}


//media query gestion responsive
@media (max-width: 750px) {
    .single-container{
        flex-direction:column-reverse;
        align-items: center;
    }

    .container__mini{
        display: none;
    }
    .container__contact{
        flex-direction: column;
        align-items: center;
    }
    #myBtn {
       margin:0px
    }
    .container{
        border-top: 1px solid black;
        flex-direction: column;
        align-items: center;
    }
    #column1,#column2{
        width: 70%;
        border: none;
    }
    .container-categorie{
        align-items: center;
    
    }
    .photo-like{
        flex-wrap:wrap ;
    }
    .photo-container {
        width: 100% !important;
        margin-bottom: 15px;
    }

    header{
        box-shadow:0 8px 12px rgba(0, 0, 0, 0.1); /* La propriété box-shadow ajoute une ombre à la partie inférieure */ ;
      }
  
}
