@charset "UTF-8";
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg) translateY(6px);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg) translateY(-6px);
  }
}
@keyframes inv-rotate {
  0% {
    transform: rotate(45deg) translateY(6px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
@keyframes inv-rotate2 {
  0% {
    transform: rotate(-45deg) translateY(-6px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
@keyframes anime-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "space mono";
}

.menu-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.menu-box__logo {
  width: 250px;
  height: 16px;
  margin-top: 16px;
}
.menu-box__nav li {
  display: inline-block;
  padding: 0px 10px 0 10px;
}
.menu-box__nav a {
  text-decoration: none;
  color: black;
  transition: text-shadow 1s ease;
}
.menu-box__nav a:hover {
  text-shadow: 0 0 10px rgba(235, 14, 14, 0.9);
}

#burger {
  display: none;
  cursor: pointer;
}
#burger li {
  list-style: none;
}

/*  bouton burger  */
.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}
.bar--hide {
  display: none;
}

.bar1--remove {
  animation: inv-rotate linear 0.5s forwards;
}
.bar1--move {
  animation: rotate linear 0.5s forwards;
}

.bar3--remove {
  animation: inv-rotate2 linear 0.5s forwards;
}
.bar3--move {
  animation: rotate2 linear 0.5s forwards;
}

.menu-items {
  display: none;
  background-color: red;
  height: 100vh;
  opacity: 0;
  animation: anime-menu 1.5s linear forwards;
}
.menu-items__box {
  width: 80%;
  margin: auto;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-items__nav {
  padding-top: 150px;
  text-align: center;
}
.menu-items ul {
  padding: 0px;
}
.menu-items li {
  list-style: none;
}
.menu-items a {
  color: white;
  text-decoration: none;
  font-size: 3em;
  transition: text-shadow 1s ease;
}
.menu-items a:hover {
  text-shadow: 0 0 20px black;
}

.menu-items.show-menu {
  display: block;
}

@media (max-width: 750px) {
  .menu-box__nav {
    display: none;
  }
  #burger {
    display: flex;
  }
  .menu-box__logo {
    width: 150px;
    height: 10px;
    margin-top: 25px;
  }
  .menu-bas {
    flex-direction: column;
  }
}
.menu-bas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid black;
  text-align: center;
}
.menu-bas ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.menu-bas li {
  display: inline-block;
  padding: 0px 30px 0 30px;
}
.menu-bas a {
  text-decoration: none;
  color: black;
  transition: text-shadow 1s ease;
}
.menu-bas a:hover {
  text-shadow: 0 0 10px rgba(235, 14, 14, 0.9);
}

@media (max-width: 599px) {
  .menu-bas ul {
    flex-direction: column;
  }
  .menu-bas li {
    padding-top: 15px;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0px 20px 20px 20px;
  border: 4px solid black;
  width: 350px; /* Could be more or less, depending on screen size */
  overflow: hidden;
}

.modal-content form {
  width: 50%;
  padding-left: 87px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#img_modale {
  width: 140%;
  position: relative;
  left: -50px;
  margin-top: 10px;
}

input, textarea {
  border-radius: 5px;
  width: 100%;
  border: 1px solid #c4c4c4;
}

input {
  height: 25px;
}

#conteneur_btn p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content label {
  font-size: small;
}

#btn_1 {
  width: 100%;
  border-radius: 0px;
  border: 1px solid #c4c4c4;
  background-color: #c4c4c4;
  font-family: "space mono";
}

.single-section {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.single-container {
  display: flex;
  flex-direction: row;
}

#column1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  margin-right: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#column1 p {
  margin: 0%;
}

#column1 h2 {
  width: 30%;
}

#column2 {
  width: 50%;
}

#column2 img {
  width: 100%;
  height: auto;
}

.titre_photo {
  font-size: 3em;
  font-family: "space mono";
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
}

#column1 p {
  margin-top: 10px;
}

.container {
  height: 118px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom: 1px solid black;
}
.container__contact {
  display: flex;
  flex-direction: row;
}

.btn {
  height: 50px;
  width: 270px;
  padding: 8px 15px 8px 15px;
  border-radius: 2px;
  border: none;
  background-color: #d8d8d8;
  font-family: "space mono";
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
  background-color: #000; /* Fond noir au survol */
  color: #fff; /* Texte blanc au survol */
}

#myBtn {
  margin-left: 50px;
}

.container__mini {
  position: relative;
}

.container__fleche {
  display: flex;
  flex: row;
  justify-content: space-between;
}

.container__fleche__precedent {
  cursor: pointer;
}

.container__fleche__suivant {
  cursor: pointer;
}

#img-precedent {
  height: 70%;
  opacity: 1;
}

#img-suivant {
  position: absolute;
  height: 70%;
  top: 0px;
  left: 0px;
  opacity: 0;
}

#img-precedent img {
  height: 100%;
  width: auto;
}

#img-suivant img {
  height: 100%;
  width: auto;
}

@media (max-width: 750px) {
  .single-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .container__mini {
    display: none;
  }
  .container__contact {
    flex-direction: column;
    align-items: center;
  }
  #myBtn {
    margin: 0px;
  }
  .container {
    border-top: 1px solid black;
    flex-direction: column;
    align-items: center;
  }
  #column1, #column2 {
    width: 70%;
    border: none;
  }
  .container-categorie {
    align-items: center;
  }
  .photo-like {
    flex-wrap: wrap;
  }
  .photo-container {
    width: 100% !important;
    margin-bottom: 15px;
  }
  header {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* La propriété box-shadow ajoute une ombre à la partie inférieure */
  }
}
.container-categorie {
  display: flex;
  flex-direction: column;
}

.photo-like {
  display: flex;
  flex-direction: row;
}

.single-photo {
  position: relative;
}

.photo-container {
  width: 50%;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}

.photo-content {
  width: 100%;
  height: 500px;
}
.photo-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photo-container:hover .overlay {
  opacity: 1; /* Rend l'overlay visible au survol */
}

.infos-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.container-btn {
  text-align: center;
}

#btn-plus {
  margin-top: 30px;
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Couleur d'arrière-plan semi-transparente noire */
  opacity: 0; /* Initialement invisible */
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 1em;
}
.overlay a {
  color: white;
}
.overlay img {
  transition: transform 0.3s ease;
}
.overlay img:hover {
  transform: scale(1.2); /* Échelle au survol */
}

.container_icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.icon_full {
  width: 5%;
  margin-top: 10px;
  margin-right: 10px;
}

.icon_eye {
  width: 60%;
  margin: auto;
}

.lien-photo {
  display: block;
  margin: auto;
}

.photo-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-hero img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.photo-hero h2 {
  position: absolute;
  max-width: 90%;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke: 3px white;
  -webkit-text-fill-color: transparent;
}

.photo-liste {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  background-color: aqua;
}
.photo-liste .photo-container {
  width: 45%;
  background-color: blueviolet;
  margin: 0%;
  margin-top: 20px;
}

/* Styles pour la lightbox */
.custom-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden; /* Empêche le défilement de la page sous la lightbox */
}

/* Conteneur pour la photo et les boutons Suivante/Précédente */
.lightbox-content {
  position: relative;
  display: flex;
  align-items: center;
  height: 80%;
  width: 80%;
}

.lightbox-content img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

/* Boutons Suivante/Précédente */
.lightbox-prev,
.lightbox-next {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 0 20px; /* Marge de 20 pixels entre les boutons et l'image */
}

.lightbox-prev {
  margin-left: 0;
}

.lightbox-next {
  margin-right: 0;
}

/*# sourceMappingURL=theme.css.map */
