@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg) translateY(6px);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg) translateY(-6px);
  }
}
@keyframes inv-rotate {
  0% {
    transform: rotate(45deg) translateY(6px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
@keyframes inv-rotate2 {
  0% {
    transform: rotate(-45deg) translateY(-6px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
@keyframes anime-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "space mono";
}

.menu-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu-box__logo {
  width: 250px;
  height: 16px;
  margin-top: 16px;
}
.menu-box__nav li {
  display: inline-block;
  padding: 0px 10px 0 10px;
}
.menu-box__nav a {
  text-decoration: none;
  color: black;
  transition: text-shadow 1s ease;
}
.menu-box__nav a:hover {
  text-shadow: 0 0 10px rgba(235, 14, 14, 0.9);
}

#burger {
  display: none;
  cursor: pointer;
}
#burger li {
  list-style: none;
}

/*  bouton burger  */
.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}
.bar--hide {
  display: none;
}

.bar1--remove {
  animation: inv-rotate linear 0.5s forwards;
}
.bar1--move {
  animation: rotate linear 0.5s forwards;
}

.bar3--remove {
  animation: inv-rotate2 linear 0.5s forwards;
}
.bar3--move {
  animation: rotate2 linear 0.5s forwards;
}

.menu-items {
  display: none;
  background-color: red;
  height: 100vh;
  opacity: 0;
  animation: anime-menu 1.5s linear forwards;
}
.menu-items__box {
  width: 80%;
  margin: auto;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-items__nav {
  padding-top: 150px;
  text-align: center;
}
.menu-items ul {
  padding: 0px;
}
.menu-items li {
  list-style: none;
}
.menu-items a {
  color: white;
  text-decoration: none;
  font-size: 3em;
  transition: text-shadow 1s ease;
}
.menu-items a:hover {
  text-shadow: 0 0 20px black;
}

.menu-items.show-menu {
  display: block;
}

@media (max-width: 600px) {
  .menu-box__nav {
    display: none;
  }
  #burger {
    display: flex;
  }
  .menu-box__logo {
    width: 150px;
    height: 10px;
    margin-top: 25px;
  }
  .menu-bas {
    flex-direction: column;
  }
}
.menu-bas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid black;
  text-align: center;
}
.menu-bas ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.menu-bas li {
  display: inline-block;
  padding: 0px 30px 0 30px;
}
.menu-bas a {
  text-decoration: none;
  color: black;
  transition: text-shadow 1s ease;
}
.menu-bas a:hover {
  text-shadow: 0 0 10px rgba(235, 14, 14, 0.9);
}

@media (max-width: 599px) {
  .menu-bas ul {
    flex-direction: column;
  }
  .menu-bas li {
    padding-top: 15px;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0px 20px 20px 20px;
  border: 1px solid #888;
  width: 350px; /* Could be more or less, depending on screen size */
  overflow: hidden;
}

.modal-content form {
  width: 50%;
  padding-left: 87px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#img_modale {
  width: 140%;
  position: relative;
  left: -50px;
  margin-top: 10px;
}

input, textarea {
  border-radius: 5px;
  width: 100%;
  border: 1px solid #c4c4c4;
}

#conteneur_btn p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content label {
  font-size: small;
}

#btn_1 {
  width: 100%;
  border-radius: 0px;
  border: 1px solid #c4c4c4;
  background-color: #c4c4c4;
}

h1 {
  color: blue;
}

/*# sourceMappingURL=theme.css.map */
